/* 
 * #ff6700 - logo's orange 
 * #646464 - logo's lighter grey
 * #1e1e1e - logo's darker grey
*/
@import url(styles.css);


section {
    position: relative;
    width: 100%;
    height: 80%;
    min-height: 80%;
    overflow: hidden;
}

.main_content {
	position:  absolute;
	top: 50%;
	left: 50%;
}
.content {
	position:  absolute;
	top:20%;
    left:35%;
    font-size: 115%;
}
.top.left .content{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.top.right .content{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.bottom.left .content{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}
.bottom.right .content{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}


.menu {
    border: 4px solid black;
    position: absolute;
}
.menu:before {
	content: "";
	display: block;
	margin-top: 100%; 	/* ratio of 1:1 */
}
.main {
    width: 30%;
    border-radius: 50%;
    
    text-indent: -9999px;
    background-color: #ccc;
    background-image: url("../img/circle_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    
    z-index: 1;
    
    /* to center*/
    left: 50%;
    top: 50%;
    margin-left: -15%; /* negative left margin that’s half its width (to center element) */
    margin-top: -15%;
}

.option {
    width: 21.21320344%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.top {
    bottom: 50%;
    margin-bottom: -2.3%;
}
.bottom {   
    top: 50%;
    margin-top: -1.875%;
}
.left {
    right: 50%;
    margin-right: -2.3%;
}
.right {
    left: 50%;
    margin-left: -1.875%;
}

.top.left{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.top.right{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.bottom.left{
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}
.bottom.right{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}

.menu:hover {
    color: #ff6700;
    border-color: #ff6700;
}