$logo-orange: #ff6700;
$logo-light-grey: #646464;
$logo-dark-grey: #1e1e1e;
$link-color: darken(#099, 15%);
$btn-color: #099;
$light-text-color: lighten($logo-orange, 40%);
$background-color: #ffdac2;

@mixin box-size {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@mixin background-cover($path-to-img) {
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="'." + $path-to-img + "'", sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + $path-to-img + "', sizingMethod='scale')";
    background-image: 'url(' + $path-to-img + ')';
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}