@mixin grid-item-columns($columns) {
  width: (100% / 5) * $columns;
}

main {
  $grid-items-background: lighten($logo-light-grey, 25%);
  $grid-item-background: lighten($logo-light-grey, 25%);
  $grid-item-border: 1px solid transparentize($logo-orange, .8); 
  $grid-item-columns: 1;
  $grid-item-big-columns: 3;
  $grid-item-color: $logo-light-grey;
  $grid-item-height: 14em;
        
  @include clearfix;
  position: relative;
    
    #menu li, #featured-game, #read-up {

        //@include media($large-screen) {
          @include grid-item-columns($grid-item-columns);
        //}

        
    }
    #menu li {
        float: left;
    }
    #featured-game, #read-up {
        float: right;
    }

  .grid-item img {
      display: block;
      height: 2.5em;
      margin-bottom: 1.2em;
      opacity: .2;
    }

  .grid-item h1 {
      color: $grid-item-color;
      font-size: 1.3em;
      margin-bottom: .4em;
    }

  .grid-item p {
      color: transparentize($grid-item-color, .4);
      @include media($medium-screen) {
        max-width: 70%;
      }
    }

  #featured-game, #read-up {
    //@include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    //}
    p {
      //@include media($medium-screen) {
        max-width: 60%;
      //}  
    }
  }

  // this, below, might not be the most beautiful solution but it removes the outer borders by using the background color.
  .bottom-cover {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 3px;
    background: $grid-items-background;
  }

  .right-cover {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 4px;
    background: $grid-items-background;
  }
}

