@media only screen and (min-width: 52.5em) {
    // fix play and more games btns (and description)
    header {
        height: 12em;
        max-height: 100%;
        nav {
            display: none;
        }
        button, input {
            position: absolute;
            top: 0;
            right: 1%;
        }
        input {
            right: 4%;
        }
        img {
            display: block;
            margin: 0 auto 1.8% auto;
            height: 8em;
        }
        h2 {
            width: auto;
            text-align: center;
            color: lighten($logo-orange, 42%);
            font-size: 1.5em;
        }
        ul {
            display: inline-block;
            li {
                display: inline;
                margin-left: 3%;
                a {
                    text-decoration: none;
                    color: $logo-dark-grey;
                    &:hover {
                        color: darken($logo-dark-grey, 15%);
                    }
                }
                &.active a {
                    color: darken($logo-dark-grey, 15%);
                    border-bottom: 1px solid $logo-orange;
                }
            }
        }
    }
    
    main {
        #featured-game {
            padding-bottom: 1%;
            button {
                position: static;
                display: inline-block;
                float: none;
                margin-left: 5%;
                &:last-child {
                    margin-right: 0;
                    margin-left: 11%;
                }
            }
        }
    }
    footer {
        padding-top: 0.7%;
    }
}