$header-color: lighten($logo-dark-grey, 15%);

header {
    position: relative;
    padding: 1%;
    background: $header-color;
    // use pseudo-elements to make bar full window width
    &:before, &:after {
        @include box-size;
        content: "";
        position: absolute;
        background: $header-color;
        top: 0;
        bottom: 0;
        width: 3%;
    } 
    &:before {
        right: 100%; 
        margin-right: -0.5%;
    }
    &:after {
        left: 100%;
        margin-left: -0.5%;
    }
   img {
       margin: 2%;
       max-width: 300px;
       width: 70%;
       display: inline-block;
       position: relative;
       z-index: 3;
    }
    @import '../2-layouts/landing/mobile/modules/nav'
}