main {
    #menu li, #featured-game, #read-up {
        background-color: $background-color;
        margin: 0;
        @include transition (all 0.2s ease-in-out);
        background: $background-color;
        overflow: hidden;
        float: left;
        padding: 1em;
        border-right: 1px solid $logo-dark-grey;
        border-bottom: 1px solid $logo-dark-grey;
        cursor: pointer;
        &:hover {
          background: transparentize(#ffa970, .2);
        }
    }
    #menu {
        position: relative;
        clear: both;
        overflow: auto;
        @include no-bullets;
        li {
            @include box-size;
            width: 50%; 
            &:nth-child(2), &:nth-child(4) {
             border-right: none;
            }
            &:nth-child(3), &:nth-child(4) {
                border-bottom: none;
            }
            a {
                text-decoration: none;
                font-size: 1.7em; // 24/16 = 1.5
                color: $logo-orange;  
                figure {
                    text-align:center;
                }

            }
        }
        &:before {
            content: "";
            position: absolute;
            width: 66px;
            height: 70px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -31%);
            background: url('../img/breakAwakeLogoSQUARE.png') center center no-repeat;
                background-color: $background-color;
                border-radius: 50%;
            z-index: 3;
        }
    }
}